html {
  height: 100%;
  margin: 0;
  background-color: #3498db;
}

.title {
  font-family: cursive;
  color:aqua;
  align-self: center;
  font-weight: bold;
  padding-left: 10px;
}

ul li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: line;
  color: white;
}

.link {
  color:aqua;
   text-decoration: none; 
   background-color: none;
}

